/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body {
     background-color: #333;
     color:#cecece;
     font-family: monospace;
   }

   a,
   a:link,
   a:visited {
     color: #fff;
     text-decoration:none;
   }

   a:hover {
     text-decoration: underline;
   }

   h1 {
     font-size: 1.5em;
     margin-top: 0;
     margin-bottom: 0;
   }

   header {
     background-color: #111;
     padding: 1em 1em;
   }

   label {
     display: block;
     margin: 0 0 1em;
   }

   .swiper-container {
        width: 100%;
        height: 50vh;
        text-align: center;
    }

    .swiper-container a {
      display: block;
    }

  .swiper-container img {
    width:100%;
    min-width: auto;
    height: 50vh;
    width: auto;
    object-fit: contain;
  }

  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 24px;
    bottom: auto;
    width: 12px;
    height: 18px;
    background-size: contain;
  }

  .swiper-button-prev {
    left: 50%;
    transform: translateX(-70px);
  }

  .swiper-button-next {
    right: 50%;
    transform: translateX(70px);
  }

  .swiper-pagination-fraction {
    font-weight: bold;
    font-size: 1.2em;
    bottom: auto;
    top: 2px;
  }

  .counter {
    display: block;
    text-align: center;
  }

  .play {
    position: absolute;
    right: 50%;
    transform: translateX(182px);
    top: 2px;
    cursor: pointer;
    z-index: 100;
    background-color: black;
    padding: 3px 5px;
    border-radius: 5px;
  }

  .play:hover{
    color: #fff;
  }

   #main {
     padding: 0 1em;
   }

   img {
     max-width: 100%;
     height: auto;
     transition: all 0.3s;
   }

   #viewlapse {
     border: 1px solid #eee;
     padding: 1em;
     margin: 2em auto;
     width: auto;
     max-width: 280px;
   }

   #viewlapse h2 {
     margin: 0 0 1em;
   }

   @media only screen and (min-width: 800px) {
     #updater {
       position: absolute;
       top: 1em;
       right: 1em;
     }

     /*.play {
       top: 0;
       right: 20px;
         transform: translateX(0);
     }*/

     #camaras {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
     }

     .swiper-container {
       height: 90vh;
     }
     .swiper-container img {
       height: 90vh;
     }
     img:hover {
       /* transform: scale(1.2); */
       /* box-shadow: 10px 10px 13px 6px rgba(0,0,0,0.6); */
     }

     #camara_subestacion img:hover {
       /* transform: scale(1.2) translateX(80px); */
     }

     #camara_embalse img:hover {
       /* transform: scale(1.2) translateX(-80px); */
     }
   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
